@mixin MarginLR($value){
  margin-left: $value;
  margin-right: $value;
}

@mixin PaddingLR($value){
  padding-left: $value;
  padding-right: $value;
}

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: linear-gradient(to right top, #0077b6, #1c8bc2, #369fcd, #50b2d7, #6bc6e1, #7dd0e6, #8fdaeb, #a0e4f1, #abe7f3, #b6eaf5, #c0edf6, #caf0f8);
}

@media only screen and (max-width:425px){
  h1 {
    display: block;
    font-family: Courgette;      
    font-size: 40px;
    text-align: center;
    }
.Header{
    display: flex;
    flex-direction: column;
    h2{
      display: flex;
      justify-content: center;
      width: 100%;
      border-bottom: solid 1px rgb(60, 24, 156);
    }
  nav{
    display: flex;
    flex-direction: column;
    height: 14vh;
    flex-wrap: wrap;
    border-bottom: solid 1px rgb(60, 24, 156);
    p{
      margin-left: 2rem;
      text-decoration: underline;
    }
    p:hover{
      background-size: contain;
      background-color: white;
      color: blue;
    }
    }
  }

  .About{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    .name{
      margin-bottom: 0;
    }
    .tytle{
      order: 2;
      margin-top: 1.5rem;
      margin-bottom: 0;
      align-self: start;
      @include MarginLR(1.5rem);
      h2{
        color: #d6a284;
      }
   }
    .Mypicture{
      order: 1;
      width: 80%;
    }
    .information{
      order: 3;
      margin-top: 0;
      @include MarginLR(2rem);
      margin-bottom: 1.5rem;
      span{
        color: rgb(192, 255, 18);
      }
    }
    .icons{
      order: 4;
      display: grid;
      grid-template-columns: repeat(3,1fr);
      place-items: center;
/*       grid-template-areas: 
      "EmailP InstagramP LinkedInP"
      "EmailLogo InstagramLogo LinkedInLogo"; */
      .iconName{
        display: flex;
        justify-content: center;
        margin-bottom: 0;
      }
      .Logo{
        width: 50%;
        margin-bottom: 3rem;
      }
    }
  }

  .Project{
    min-height: 100vh;
    .title{
      display: block;
      border-top: 0.5px solid rgb(60, 24, 156);
      margin-bottom: 1rem;
    }
    .ProjectGrid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;  
      row-gap: 3vh;
      .POutline{
        display: grid;
        grid-template-rows: 1fr 3fr;
        background-color: #00B4D8;
        box-shadow: 10px 5px 5px #0077b6;
        border-radius: 5%;
        width: 45vw;
        place-items: center;
        h2{
          margin: 1vh 0;
        }
        .image{
          max-width: 90%;
        }
      }  
    }
    .ShowMore{
      display: block;
      text-align: right;
      margin-top: 3rem;
      padding-right: 3rem;
      text-decoration: underline;
    }
  }

  .Skills{
    min-height: 100vh;
    .title{
      display: block;
      border-top: 0.5px solid rgb(60, 24, 156);
      margin-top: 3rem;
    }
    .ShowMore{
      display: block;
      text-align: right;
      color: white;
      margin-top: 3rem;
      padding-right: 3rem;
      text-decoration: underline;
    }
  }
  .SkillGrid{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5vh;
    justify-items: center;
    .Outline{
      display: grid;
      grid-template-rows: 0.5fr 3fr 7fr;
      background-color: rgb(51, 67, 158);
      border-radius: 5%;
      width: 80vw;
      height: 60vh;
      place-items: center;
      h2{
        color: white;
        margin: 0.5rem;
      }
      .image{
        max-width: 90%;
      }
      p{
        margin: 0;
        padding: 1rem 1rem;
        color: white;
        font-size: 20px;
        place-self: start;
      }
    }
  }
}

@media only screen and (min-width:426px) and (max-width:768px){
  h1 {
    font-family: Courgette;      
    font-size: 48px;
    @include MarginLR(2rem);
    margin-bottom: 0;
    margin-top: 1rem;
  }
  .Header{
    padding: 0 2rem;
    h2{
      margin-top: 0;
      margin-bottom: 0;
      padding: 1rem;
      border-bottom: 0.5px solid rgb(60, 24, 156);
    }
    nav{
      border-bottom: 0.5px solid rgb(60, 24, 156);

      p{
        display: inline-block;
        text-decoration: underline;
        margin-right: 1rem;
        margin-left: 0.5rem;

      }
      p:hover{
        background-size: contain;
        background-color: white;
        color: blue;
      }
    }
  }

  .About{
      h2{
        color: #d6a284;
      }
      display: grid;
    grid-template-columns:  3fr 2fr;
    grid-template-areas: 
    "name name"
    "tytle  Mypicture"
    "tytle Mypicture"
    "icons none";    
    min-height: 100vh;
    .name{
      grid-area: name;
      @include MarginLR(3rem);
      margin-top: 2rem;
      margin-bottom: 0;
    }
    .tytle{
      grid-area: tytle;
      .information{
        grid-area: information;
        @include MarginLR(2rem);
        margin-bottom: 1.5rem;
      }
      }
    .icons{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      place-items: center;
      @include MarginLR(2rem);
      .iconName{
        display: flex;
        justify-content: center;
        align-self: flex-end;
        margin-bottom: 0;
      }
      .Logo{
        width: 50%;
        margin-bottom: 5rem;
      }
    } 
    .Mypicture{
      grid-area: Mypicture;
      align-self: center;
      width: 90%;
    }
    .information{
      order: 3;
      margin-top: 0;
      @include MarginLR(3.5rem);
      span{
        color: rgb(192, 255, 18);
      }
    }
  }

  .Project{
    max-height: 100vh;
    .title{
      display: block;
      border-top: 0.5px solid rgb(60, 24, 156);
    }
    .ProjectGrid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;  
      row-gap: 2vh;
      .POutline{
        display: grid;
        grid-template-rows: 1fr 3.5fr;
        background-color: #00B4D8;
        box-shadow: 10px 5px 5px #0077b6;
        border-radius: 5%;
        width: 40vw;
        place-items: center;
        h2{
          margin: 0.3vh 0;
        }
        .image{
          max-width: 90%;
          margin-bottom: 1rem;
        }
      }  
    }
    .ShowMore{
      display: block;
      text-align: right;
      margin-top: 2rem;
      padding-right: 3rem;
      text-decoration: underline;
    }
  }

  .Skills{
    min-height: 100vh;
    .title{
      display: block;
      border-top: 0.5px solid rgb(60, 24, 156);
      margin-top: 3rem;
      padding-left: 3rem;
    }
    .ShowMore{
      display: block;
      text-align: right;
      color: white;
      margin-top: 3rem;
      padding-right: 3rem;
      text-decoration: underline;
    }
  }
  .SkillGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70vh;
    justify-items: center;
    margin-top: rem;
    .Outline{
      display: grid;
      grid-template-rows: 0.5fr 3fr 7fr;
      background-color: rgb(51, 67, 158);
      border-radius: 5%;
      width: 40vw;
      min-height: 60vh;
      place-items: center;
      h2{
        color: white;
        margin: 0.5rem;
      }
      .image{
        max-width: 90%;
      }
      p{
        margin: 0;
        padding: 1rem 1rem;
        color: white;
        font-size: 20px;
        place-self: start;
      }
    }
    .hide{
      display: none;
    }
}
}

@media only screen and (min-width:769px){
  h1 {
    font-family: Courgette;      
    font-size: 60px;
    @include MarginLR(2rem);
  }

  .Header{
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    border-bottom: 0.5px solid rgb(60, 24, 156);
    h2{
      justify-self: flex-start;
      margin-left: 3rem;
    }
    nav{
      display: flex;
      justify-content: flex-end;
    p{
        margin-right: 1.5rem;
        text-decoration: underline;
      }
      p:hover{
        background-size: contain;
        background-color: white;
        color: blue;
      }
    }
  }

  .About{
    h2{
      color: #d6a284;
      font-size: 26px;
    }
    display: grid;
    grid-template-columns:  3fr 2fr;
    grid-template-areas: 
    "name Mypicture"
    "tytle  Mypicture"
    "information Mypicture"
    "icons Mypicture";    
    min-height: 100vh;
    .name{
      grid-area: name;
      margin-left: 3rem;
      margin-top: 3rem;
    }
    .tytle{
      grid-area: tytle;
      margin-bottom: 0;
      h2{
        color: #d6a284;
      }
      .information{
        grid-area: information;
        order: 3;
        margin-top: 0;
        margin-bottom: 3rem;
        @include MarginLR(3.5rem);  
        span{
          color: rgb(192, 255, 18);
        }
      }
    }
    .icons{
      display: grid;
      grid-template-columns: repeat(3,8rem);
      place-items: center;
      @include MarginLR(2rem);
      .iconName{
        display: flex;
        justify-content: center;
        margin-bottom: 0;
      }
      .Logo{
        max-width: 40%;
        margin-bottom: 3rem;
      }
    }

    .Mypicture{
      grid-area: Mypicture;
      justify-self: center;
      align-self: center;
      max-width: 80%;
    }
  }

  .Project{
    height: 100vh;
    .title{
      display: block;
      border-top: 0.5px solid rgb(60, 24, 156);
      margin-bottom: 1rem;
    }
    .ProjectGrid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;  
      row-gap: 3vh;
      @include MarginLR(2rem);
      .POutline{
        display: grid;
        grid-template-rows: 1fr 4fr;
        background-color: #00B4D8;
        box-shadow: 10px 5px 5px #0077b6;
        border-radius: 5%;
        width: 28vw;
        max-width: 450px;
        margin-top: 2rem;
        place-items: center;
        h2{
          margin: 1vh 0;
        }
        .image{
          max-width: 90%;
          margin-bottom: 1rem;
        }
      }  
    }
    .ShowMore{
      display: block;
      text-align: right;
      margin-top: 4rem;
      padding-right: 3rem;
      text-decoration: underline;
    }
  }

  .Skills{
    min-height: 100vh;
    .title{
      display: block;
      border-top: 0.5px solid rgb(60, 24, 156);
      margin-top: 3rem;
      padding-left: 3rem;
    }
    .ShowMore{
      display: block;
      text-align: right;
      color: white;
      margin-top: 3rem;
      padding-right: 3rem;
      text-decoration: underline;
    }
  }
  .SkillGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70vh;
    justify-items: center;
    margin-top: rem;
    .Outline{
      display: grid;
      grid-template-rows: 0.5fr 3fr 7fr;
      background-color: rgb(51, 67, 158);
      border-radius: 5%;
      width: 25vw;
      min-height: 60vh;
      place-items: center;
      h2{
        color: white;
        margin: 0.5rem;
      }
      .image{
        max-width: 90%;
      }
      p{
        margin: 0;
        padding: 1rem 1rem;
        color: white;
        font-size: 20px;
        place-self: start;
      }
    }
  }

}