html {
  scroll-behavior: smooth;
}

a {
  color: blue;
  font-weight: bold;
}

a:hover {
  background-size: contain;
  color: blue;
}

a:visited {
  color: rgb(221, 96, 96);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: linear-gradient(to right top, #0077b6, #1c8bc2, #369fcd, #50b2d7, #6bc6e1, #7dd0e6, #8fdaeb, #a0e4f1, #abe7f3, #b6eaf5, #c0edf6, #caf0f8);
}

@media only screen and (max-width: 425px) {
  html {
    scroll-padding-top: 4rem;
  }
  h1 {
    display: block;
    font-family: Courgette;
    font-size: 32px;
    text-align: center;
  }
  .TopLink {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: solid 1px rgb(60, 24, 156);
    background-image: linear-gradient(to right top, #48cae4, #59cee6, #67d3e8, #75d7ea, #81dbec, #8cdeee, #96e1ef, #a0e4f1, #abe7f3, #b6eaf5, #c0edf6, #caf0f8);
    position: sticky;
    top: 0;
    z-index: 200;
  }
  #PC {
    display: none;
  }
  .Header {
    display: flex;
    flex-direction: column;
  }
  .Header nav {
    display: flex;
    flex-direction: column;
    height: 14vh;
    flex-wrap: wrap;
    border-bottom: solid 1px rgb(60, 24, 156);
  }
  .Header nav p {
    margin-left: 2rem;
    text-decoration: underline;
  }
  .About {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  .About .name {
    margin: 1rem;
  }
  .About .tytle {
    order: 2;
    margin-bottom: 0;
    align-self: start;
    background-color: #00B4D8;
    box-shadow: 10px 5px 5px #0077b6;
    border-radius: 20px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .About .tytle .Intro {
    margin: 1rem 0.5rem 0 0.5rem;
    margin-bottom: 0;
    font-size: 20px;
  }
  .About .tytle .PC {
    display: none;
  }
  .About .Mypicture {
    order: 1;
    width: 40%;
    margin-bottom: 1rem;
  }
  .About .information {
    order: 3;
    margin-top: 0;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .About .icons {
    order: 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
  }
  .About .icons .iconName {
    display: flex;
    justify-content: center;
    margin: 1rem 0 0 0;
  }
  .About .icons .Logo {
    width: 50%;
    margin-bottom: 3rem;
    border-radius: 10px;
  }
  .Project {
    height: 100vh;
  }
  .Project .title {
    display: block;
    border-top: 0.5px solid rgb(60, 24, 156);
    margin-bottom: 1rem;
  }
  .Project .ProjectGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    row-gap: 3vh;
  }
  .Project .ProjectGrid .POutline {
    display: grid;
    grid-template-rows: 1fr 3fr;
    background-color: #00B4D8;
    box-shadow: 10px 5px 5px #0077b6;
    border-radius: 20px;
    width: 45vw;
    place-items: center;
  }
  .Project .ProjectGrid .POutline h2 {
    margin: 1vh 0;
  }
  .Project .ProjectGrid .POutline .image {
    max-width: 90%;
  }
  .Project .ShowMore {
    display: block;
    text-align: right;
    margin-top: 3rem;
    padding-right: 3rem;
    text-decoration: underline;
  }
  .Skills {
    height: 100vh;
  }
  .Skills .title {
    display: block;
    border-top: 0.5px solid rgb(60, 24, 156);
    margin-top: 2rem;
  }
  .Skills .ShowMore {
    display: block;
    text-align: right;
    margin-top: 2rem;
    padding-right: 3rem;
    text-decoration: underline;
  }
  .Skills .SkillGrid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3vh;
    justify-items: center;
  }
  .Skills .SkillGrid .Outline {
    display: grid;
    grid-template-rows: auto;
    background-color: #00B4D8;
    box-shadow: 10px 5px 5px #0077b6;
    border-radius: 20px;
    width: 80vw;
    place-items: center;
  }
  .Skills .SkillGrid .Outline h2 {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
  .Skills .SkillGrid .Outline .image {
    max-width: 70%;
    max-height: 80%;
  }
  .Skills .SkillGrid .Outline p {
    margin: 0;
    padding: 0 1rem 1rem 1rem;
    place-self: start;
  }
  .Skills .SkillGrid .hide {
    display: none;
  }
  .WorkExperience {
    height: 100vh;
  }
  .WorkExperience .title {
    display: block;
    border-top: 0.5px solid rgb(60, 24, 156);
    margin-top: 2rem;
  }
  .WorkExperience .ShowMore {
    display: block;
    text-align: right;
    margin-top: 2rem;
    padding-right: 3rem;
    text-decoration: underline;
  }
  .WorkExperience .WorkGrid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3vh;
    justify-items: center;
  }
  .WorkExperience .WorkGrid .Outline {
    display: grid;
    grid-template-rows: auto;
    background-color: #00B4D8;
    box-shadow: 10px 5px 5px #0077b6;
    border-radius: 20px;
    width: 80vw;
    place-items: center;
  }
  .WorkExperience .WorkGrid .Outline h2 {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
  .WorkExperience .WorkGrid .Outline .image {
    max-width: 70%;
    max-height: 80%;
  }
  .WorkExperience .WorkGrid .Outline p {
    margin: 0;
    padding: 0 1rem 1rem 1rem;
    place-self: start;
  }
  .WorkExperience .WorkGrid .Outline .PC {
    display: none;
  }
  .WorkExperience .WorkGrid .hide {
    display: none;
  }
  .ContactMe {
    height: 100vh;
  }
  .ContactMe .title {
    display: block;
    border-top: 0.5px solid rgb(60, 24, 156);
    margin-top: 2rem;
  }
  .ContactMe .ContactGrid {
    display: grid;
    grid-template-columns: 80vw;
    grid-template-rows: 35vh 45vh;
    justify-content: center;
  }
  .ContactMe .ContactGrid .AccountArea {
    background-color: #48CAE4;
    box-shadow: 10px 5px 5px #0077b6;
    border-radius: 20px;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }
  .ContactMe .ContactGrid .AccountArea .Account {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    background-color: #00B4D8;
    box-shadow: inset 5px 5px 5px #0077b6;
    padding: 0.3rem;
    margin-top: 1rem;
  }
  .ContactMe .ContactGrid .AccountArea .Account p {
    margin: 0;
  }
  .ContactMe .ContactGrid .AccountArea .Account p img {
    position: absolute;
    max-height: 70%;
    width: auto;
  }
  .ContactMe .ContactGrid .AccountArea .Account p .LinkLogo {
    box-shadow: 1px 1px 1px #0077b6;
  }
  .ContactMe .ContactGrid .SendMessage {
    background-color: #48CAE4;
    box-shadow: 10px 5px 5px #0077b6;
    border-radius: 20px;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  html {
    scroll-padding-top: 7rem;
  }
  #Phone {
    display: none;
  }
  h1 {
    font-family: Courgette;
    font-size: 48px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0;
    margin-top: 1rem;
  }
  .Header {
    position: sticky;
    top: 0;
    z-index: 200;
    background-image: linear-gradient(to right top, #48cae4, #59cee6, #67d3e8, #75d7ea, #81dbec, #8cdeee, #96e1ef, #a0e4f1, #abe7f3, #b6eaf5, #c0edf6, #caf0f8);
  }
  .Header h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 1rem;
    border-bottom: 0.5px solid rgb(60, 24, 156);
  }
  .Header nav {
    border-bottom: 0.5px solid rgb(60, 24, 156);
  }
  .Header nav p {
    display: inline-block;
    text-decoration: underline;
    margin-right: 0.1rem;
    margin-left: 0.5rem;
  }
  .About {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: "name name" "tytle  Mypicture" "tytle Mypicture" "icons none";
    height: 100vh;
  }
  .About h2 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .About .name {
    grid-area: name;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .About .tytle {
    grid-area: tytle;
    background-color: #00B4D8;
    box-shadow: 10px 5px 5px #0077b6;
    border-radius: 20px;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .About .tytle .Intro {
    margin-bottom: 0;
    margin-top: 2rem;
  }
  .About .tytle .information {
    grid-area: information;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }
  .About .icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    column-gap: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .About .icons .iconName {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    margin-bottom: 0;
  }
  .About .icons .Logo {
    width: 50px;
    margin-bottom: 5rem;
    border-radius: 10px;
  }
  .About .Mypicture {
    grid-area: Mypicture;
    align-self: center;
    width: 90%;
  }
  .About .information {
    order: 3;
    margin-top: 0;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
  }
  .About .PC {
    display: none;
  }
  .Project {
    height: 100vh;
  }
  .Project .title {
    display: block;
    border-top: 0.5px solid rgb(60, 24, 156);
    margin-bottom: 1rem;
  }
  .Project .ProjectGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    row-gap: 2vh;
  }
  .Project .ProjectGrid .POutline {
    display: grid;
    grid-template-rows: 1fr 3.5fr;
    background-color: #00B4D8;
    box-shadow: 10px 5px 5px #0077b6;
    border-radius: 20px;
    width: 40vw;
    place-items: center;
  }
  .Project .ProjectGrid .POutline h2 {
    margin: 0.3vh 0;
  }
  .Project .ProjectGrid .POutline .image {
    max-width: 90%;
    margin-bottom: 1rem;
  }
  .Project .ShowMore {
    display: block;
    text-align: right;
    margin-top: 2rem;
    padding-right: 3rem;
    text-decoration: underline;
  }
  .Skills {
    min-height: 100vh;
  }
  .Skills .title {
    display: block;
    border-top: 0.5px solid rgb(60, 24, 156);
    margin-top: 3rem;
  }
  .Skills .ShowMore {
    display: block;
    text-align: right;
    margin-top: 3rem;
    padding-right: 3rem;
    text-decoration: underline;
  }
  .Skills .SkillGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70vh;
    justify-items: center;
    margin-top: rem;
  }
  .Skills .SkillGrid .Outline {
    display: grid;
    grid-template-rows: 0.5fr 3fr 7fr;
    background-color: #00B4D8;
    box-shadow: 10px 5px 5px #0077b6;
    border-radius: 20px;
    width: 40vw;
    min-height: 60vh;
    place-items: center;
  }
  .Skills .SkillGrid .Outline h2 {
    margin: 0.5rem;
  }
  .Skills .SkillGrid .Outline .image {
    max-width: 90%;
  }
  .Skills .SkillGrid .Outline p {
    margin: 0;
    padding: 1rem 1rem;
    font-size: 20px;
    place-self: start;
  }
  .Skills .SkillGrid .hide {
    display: none;
  }
  .WorkExperience {
    height: 100vh;
  }
  .WorkExperience .title {
    display: block;
    border-top: 0.5px solid rgb(60, 24, 156);
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .WorkExperience .ShowMore {
    display: block;
    text-align: right;
    margin-top: 2rem;
    padding-right: 3rem;
    text-decoration: underline;
  }
  .WorkExperience .WorkGrid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3vh;
    justify-items: center;
  }
  .WorkExperience .WorkGrid .Outline {
    display: grid;
    grid-template-rows: auto;
    background-color: #00B4D8;
    box-shadow: 10px 5px 5px #0077b6;
    border-radius: 20px;
    width: 80vw;
    place-items: center;
  }
  .WorkExperience .WorkGrid .Outline h2 {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
  .WorkExperience .WorkGrid .Outline .image {
    max-width: 70%;
    max-height: 80%;
  }
  .WorkExperience .WorkGrid .Outline p {
    margin: 0;
    padding: 0 2rem 1rem 2rem;
    place-self: start;
  }
  .WorkExperience .WorkGrid .Outline .PC {
    display: none;
  }
  .WorkExperience .WorkGrid .hide {
    display: none;
  }
  .ContactMe {
    height: 100vh;
  }
  .ContactMe .title {
    display: block;
    border-top: 0.5px solid rgb(60, 24, 156);
    margin-top: 2rem;
  }
  .ContactMe .ContactGrid {
    display: grid;
    grid-template-columns: 45vw 45vw;
    grid-template-rows: 70vh;
    column-gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 2rem 0;
    background-color: #00B4D8;
    box-shadow: 10px 5px 5px #0077b6;
    border-radius: 20px;
  }
  .ContactMe .ContactGrid .AccountArea {
    background-color: #48CAE4;
    box-shadow: 5px 5px 5px #0077b6;
    border-radius: 20px;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }
  .ContactMe .ContactGrid .AccountArea .Account {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    background-color: #00B4D8;
    box-shadow: inset 5px 5px 5px #0077b6;
    padding: 0.3rem;
    margin-top: 1rem;
  }
  .ContactMe .ContactGrid .AccountArea .Account p {
    margin: 0;
  }
  .ContactMe .ContactGrid .AccountArea .Account p img {
    position: absolute;
    max-height: 70%;
    width: auto;
  }
  .ContactMe .ContactGrid .AccountArea .Account p .LinkLogo {
    box-shadow: 1px 1px 1px #0077b6;
  }
  .ContactMe .ContactGrid .SendMessage {
    background-color: #48CAE4;
    box-shadow: 5px 5px 5px #0077b6;
    border-radius: 20px;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 769px) {
  html {
    scroll-padding-top: 4rem;
  }
  #Phone {
    display: none;
  }
  h1 {
    font-family: Courgette;
    font-size: 52px;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .Header {
    position: sticky;
    top: 0;
    z-index: 200;
    background-image: linear-gradient(to right top, #48cae4, #59cee6, #67d3e8, #75d7ea, #81dbec, #8cdeee, #96e1ef, #a0e4f1, #abe7f3, #b6eaf5, #c0edf6, #caf0f8);
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    border-bottom: 0.5px solid rgb(60, 24, 156);
  }
  .Header h2 {
    justify-self: flex-start;
    margin-left: 3rem;
  }
  .Header nav {
    display: flex;
    justify-content: flex-end;
  }
  .Header nav p {
    margin-right: 1.5rem;
    text-decoration: underline;
  }
  .About {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-areas: "name Mypicture" "tytle  Mypicture" "icons Mypicture";
    height: 100vh;
  }
  .About h2 {
    font-size: 26px;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .About .name {
    grid-area: name;
    margin-left: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .About .tytle {
    grid-area: tytle;
    margin-bottom: 0;
    background-color: #00B4D8;
    box-shadow: 10px 5px 5px #0077b6;
    border-radius: 20px;
    margin-left: 1rem;
  }
  .About .tytle .Intro {
    margin-bottom: 0;
  }
  .About .tytle .information {
    order: 3;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
  }
  .About .tytle .Phone {
    display: none;
  }
  .About .icons {
    display: grid;
    grid-template-columns: repeat(3, 8rem);
    place-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .About .icons .iconName {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    place-self: end center;
  }
  .About .icons .Logo {
    max-width: 40%;
    margin-bottom: 3rem;
    border-radius: 10px;
    place-self: start center;
  }
  .About .Mypicture {
    grid-area: Mypicture;
    justify-self: center;
    align-self: center;
    max-width: 70%;
  }
  .Project {
    height: 100vh;
  }
  .Project .title {
    display: block;
    border-top: 0.5px solid rgb(60, 24, 156);
    margin-bottom: 1rem;
  }
  .Project .ProjectGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    row-gap: 3vh;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .Project .ProjectGrid .POutline {
    display: grid;
    grid-template-rows: 1fr 4fr;
    background-color: #00B4D8;
    box-shadow: 10px 5px 5px #0077b6;
    border-radius: 20px;
    width: 28vw;
    max-width: 450px;
    margin-top: 2rem;
    place-items: center;
  }
  .Project .ProjectGrid .POutline h2 {
    margin: 1vh 0;
  }
  .Project .ProjectGrid .POutline .image {
    max-width: 90%;
    margin-bottom: 1rem;
  }
  .Project .ShowMore {
    display: block;
    text-align: right;
    margin-top: 4rem;
    padding-right: 3rem;
    text-decoration: underline;
  }
  .Skills {
    min-height: 100vh;
  }
  .Skills .title {
    display: block;
    border-top: 0.5px solid rgb(60, 24, 156);
    margin-top: 3rem;
    padding-left: 3rem;
  }
  .Skills .ShowMore {
    display: block;
    text-align: right;
    margin-top: 3rem;
    padding-right: 3rem;
    text-decoration: underline;
  }
  .Skills .SkillGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70vh;
    justify-items: center;
  }
  .Skills .SkillGrid .Outline {
    display: grid;
    grid-template-rows: 0.5fr 3fr 7fr;
    background-color: #00B4D8;
    box-shadow: 10px 5px 5px #0077b6;
    border-radius: 20px;
    width: 25vw;
    min-height: 60vh;
    place-items: center;
  }
  .Skills .SkillGrid .Outline h2 {
    margin: 0.5rem;
  }
  .Skills .SkillGrid .Outline .image {
    max-width: 90%;
  }
  .Skills .SkillGrid .Outline p {
    margin: 0;
    padding: 1rem 1rem;
    font-size: 20px;
    place-self: start;
  }
  .WorkExperience {
    min-height: 100vh;
  }
  .WorkExperience .title {
    display: block;
    border-top: 0.5px solid rgb(60, 24, 156);
    margin-top: 3rem;
    padding-left: 3rem;
  }
  .WorkExperience .ShowMore {
    display: block;
    text-align: right;
    margin-top: 3rem;
    padding-right: 3rem;
    text-decoration: underline;
  }
  .WorkExperience .WorkGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70vh;
    justify-items: center;
  }
  .WorkExperience .WorkGrid .Outline {
    display: grid;
    grid-template-rows: 0.5fr 3fr 7fr;
    background-color: #00B4D8;
    box-shadow: 10px 5px 5px #0077b6;
    border-radius: 20px;
    width: 35vw;
    min-height: 60vh;
    margin-top: 2rem;
    place-items: center;
  }
  .WorkExperience .WorkGrid .Outline h2 {
    margin: 0.5rem;
  }
  .WorkExperience .WorkGrid .Outline .image {
    width: 90%;
  }
  .WorkExperience .WorkGrid .Outline p {
    margin: 0;
    padding: 1rem 2rem;
    font-size: 20px;
    place-self: start;
  }
  .WorkExperience .WorkGrid .Outline .Phone {
    display: none;
  }
  .ContactMe {
    height: 100vh;
  }
  .ContactMe .title {
    display: block;
    border-top: 0.5px solid rgb(60, 24, 156);
    margin-top: 2rem;
  }
  .ContactMe .ContactGrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 70vh;
    column-gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 2rem 2rem;
    background-color: #00B4D8;
    box-shadow: 10px 5px 5px #0077b6;
    border-radius: 20px;
    max-width: 100%;
  }
  .ContactMe .ContactGrid .AccountArea {
    background-color: #48CAE4;
    box-shadow: 5px 5px 5px #0077b6;
    border-radius: 20px;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }
  .ContactMe .ContactGrid .AccountArea .Account {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    background-color: #00B4D8;
    box-shadow: inset 5px 5px 5px #0077b6;
    padding: 0.3rem;
    margin-top: 1rem;
  }
  .ContactMe .ContactGrid .AccountArea .Account p {
    margin: 0;
  }
  .ContactMe .ContactGrid .AccountArea .Account p img {
    position: absolute;
    max-height: 70%;
    width: auto;
  }
  .ContactMe .ContactGrid .AccountArea .Account p .LinkLogo {
    box-shadow: 1px 1px 1px #0077b6;
  }
  .ContactMe .ContactGrid .SendMessage {
    background-color: #48CAE4;
    box-shadow: 5px 5px 5px #0077b6;
    border-radius: 20px;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.Footer .title {
  border-top: 0.5px solid rgb(60, 24, 156);
  margin-top: 3rem;
}
.Footer .title h1 {
  text-align: center;
}
.Footer .copyRight p {
  text-align: center;
}

/*# sourceMappingURL=index.css.map */
